.Actions {
    margin-top: 2em;
    text-align: center;
}

.action {
    min-width: 150px;
    padding: .5em .75em;
    border: 1px solid transparent;
    background: #09d3ac;
    color: #000;
    transition: transform .3s, box-shadow .3s;
}

.action:hover,
.action:focus {
    transform: translate(2px, -2px);
    box-shadow: -2px 2px 2px 0 rgba(255, 255, 255, 0.5);
}

.action:not(:first-child) {
    margin-left: .5rem;
}
